
@{
    ViewBag.Title = "Contacts";
}

<div>
    <h1>Контакты</h1>
        <h4 id="contacts">Front-end: Ulan</h4><br />
        <h4 id="contacts">Back-end: Ulan</h4><br />
        <h4 id="contacts">По вопросам рекламы: real_user@list.ru</h4><br />
        <h4 id="contacts">По вопросам работы сайта: real_user@list.ru</h4>
</div>
