
@{
    ViewBag.Title = "Contacts";
}

<div class="heroes">
    <h1>Контакты</h1>
    <ul type="disc">
        <li id="vremenno">Front-end: Ulan</li>
        <li id="vremenno">Back-end: Ulan</li>
        <li id="vremenno">По вопросам рекламы: real_user@list.ru</li>
        <li id="vremenno">По вопросам работы сайта: real_user@list.ru</li>
    </ul>
</div>
