
@{
    ViewBag.Title = "Stream";
}

<div class="Stream">
    <h1>Онлайн стримы</h1>
    <div class="stream">
        <iframe src="https://player.twitch.tv/?channel=xgargonitx"></iframe>
    </div>
    <div class="stream">
        <iframe src="https://player.twitch.tv/?channel=a1taoda"></iframe>
    </div>
    <div class="stream">
        <iframe src="https://imasdk.googleapis.com/js/core/bridge3.239.1_en.html#goog_95863395"></iframe>
    </div>
    <div class="stream">
        <iframe src="https://player.twitch.tv/?channel=xgargonitx"></iframe>
    </div>
    <div class="stream">
        <iframe src="https://player.twitch.tv/?channel=deco1tv"></iframe>
    </div>
    <div class="stream">
        <iframe src="https://player.twitch.tv/?channel=staffordztv"></iframe>
    </div>
    <div class="stream">
        <iframe src=" https://player.twitch.tv/?channel=weplay_main"></iframe>
    </div>
    <div class="stream">
        <iframe src=" https://player.twitch.tv/?channel=weplay_main"></iframe>
    </div>
    <div class="stream">
        <iframe src=" https://player.twitch.tv/?channel=weplay_main"></iframe>
    </div>
    <div class="stream">
        <iframe src=" https://player.twitch.tv/?channel=weplay_main"></iframe>
    </div>
    <div class="stream">
        <iframe src=" https://player.twitch.tv/?channel=weplay_main"></iframe>
    </div>
    <div class="stream">
        <iframe src=" https://player.twitch.tv/?channel=weplay_main"></iframe>
    </div>
</div>
